.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 30px 30px 70px;
}

.joke {
  align-items: center;
  display: flex;
  flex-direction: column;
}

img {
  height: 75px;
  width: 75px;
}

h2 {
  font-size: 1.5rem;
  margin: 0 0 10px;
}

h3 {
  font-size: 2rem;
  margin: 0;
}

/* .animate {
  animation: FADE-IN 0.3s;
}

.animate-long {
  animation: FADE-IN 1s forwards;
  animation-delay: 1s;
  opacity: 0;
} */

button {
  background-color: #007bff;
  border-color: #007bff;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 50px 0;
  outline: none;
  padding: 6px 12px;
  text-transform: none;
}
